<div #ogmaContainer id="ogmaContainer"></div>
<div class="controls">
  <div>Number of nodes: {{ countNodes() }}</div>
  <div>nodeIds: {{ nodeIds$ | async }}</div>
  <div>edgeIds: {{ edgeIds$ | async }}</div>

  <form class="form" #formRef="ngForm">
    <h3>Action</h3>
    <button class="btn" (click)="addNode()">Add a node</button>
    <button class="btn" (click)="removeNode()">Remove a node</button>
    <button class="btn" (click)="addEdge()">Add an edge</button>
    <button class="btn" (click)="removeEdge()">Remove an edge</button>

  </form>
  <tooltip />
</div>
